@using WebStore.Models
@using System.Diagnostics.CodeAnalysis
@using WebStore.Data



<div class="row-cols-3">
    <div class="col-md-4">
        <div class="panel panel-default">

            <MudCard Elevation="10">

                <MudCardMedia Image="@Course.Image.ToImage64()"
                              Height="200"/>
              
                <div class="panel-body">
                    <article class="col-sm-12 maincontent" style="display: block">

                        <label style="color: black; font-size: 18px">@Course.Name</label>
                        <label style="font-size: 15px">@Course.Description</label>
                        <MudRating Size="Size.Large" ReadOnly="true" @bind-SelectedValue="Course.Assessment"/>
                        <br/>
                        @if (Course.IsFree)
                        {
                            <label style="font-size: 18px; color: darkgreen">GRATIS</label>
                        }
                        else
                        {
                            <div>
                                <label style="font-size: 18px; color: black">@Course.FinalPrice.ToString("C2")</label>
                                &nbsp;
                                @if (Course.HasDiscount)
                                {
                                    <label style="font-size: 18px;"><strike>@Course.Price.ToString("C2")</strike></label>
                                }
                            </div>
                        }
                    </article>
                </div>
            </MudCard>
        </div>
    </div>
</div>
@code {
    [Parameter, NotNull]
    public Course Course { get; set; }


}
