@page "/InfoPage"
@using WebStore.Models
@inject NavigationManager NavigationManager
    <Header />
    <br />
    <br />
    <!-- container -->
    <div class="add-padding">
        <br />
        <div class="col-sm-3"></div>
        <article class="col-sm-6">

            <header class="page-header">
                <h1 class="page-title">Editar Información de la pagina</h1>
            </header>
            <p>
                <div>
                    <p>
                        <div class="top-margin">
                            <label style="display: block">Mision:<span class="text-danger">*</span></label>

                            <MudTextField Variant="Variant.Outlined" @bind-Value="@Info.Mision" Required="true" FullWidth="true" Style="font-size: 18px"
                                          Placeholder="Misión" RequiredError="Debe ingresar la misión de la pagina" Lines="3" />
                        </div>
                    </p>
                    <p>
                        <div class="top-margin">
                            <label style="display: block"> Visión:<span class="text-danger">*</span></label>
                            <MudTextField Variant="Variant.Outlined" @bind-Value="@Info.Vision" Required="true" FullWidth="true" Style="font-size: 18px"
                                          Placeholder="Visión" RequiredError="Debe ingresar la visión de la pagina" Lines="3" />
                        </div>
                    </p>
                    <p>
                        <div class="top-margin">
                            <label style="display: block">Objetivo:<span class="text-danger">*</span></label>
                            <MudTextField Variant="Variant.Outlined" @bind-Value="@Info.Target" Required="true" FullWidth="true" Style="font-size: 18px"
                                          Placeholder="Objetivo"  Lines="3" RequiredError="Debe ingresar el objetivo de la pagina " />
                        </div>
                    </p>
                     <MudButton Style="font-size: 18px" Size="Size.Large" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" StartIcon="@Icons.Material.Filled.Save" OnClick="@Save">Confirmar</MudButton>

                    <MudPopover Open="@IsOpen" Fixed="true" Class="px-4 pt-4">
                        <MudCardHeader Style="font-size: 18px;">
                            Los siguientes campos son incorrectos:
                        </MudCardHeader>
                        <div class="d-flex flex-column">
                            @foreach (string error in Errors)
                            {
                                <MudText Style="font-size: 16px;" Color="Color.Error">@error</MudText>
                            }
                            <MudButton Style="font-size: 16px;" OnClick="@(() => ToggleOpen(false))" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Close</MudButton>
                        </div>
                    </MudPopover>
                </div>

            </p>

        </article>
        <div class="col-sm-3"></div>
    </div>
@code {

    [Inject]
    private MongoDb Db { get; set; }

    private string[] Errors;
    [Parameter]
    public string JsonCourse { get; set; }
    public InfoPageModel Info { get; set; }

    private bool IsOpen;

    public InfoPage()
    {
        Info = InfoPageModel.Get();
    }
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        Info = Info ?? new InfoPageModel();
    }
     private async Task Save(MouseEventArgs obj)
    {
        await Task.Yield();
        if (Info.Validate(out Errors))
        {
           
            Info = await Info.Save(this.Db);
            NavigationManager.NavigateTo("/");
        }
        else
        {
            ToggleOpen(true);
        }

    }

    private void ToggleOpen(bool isOpen)
    {
        IsOpen = isOpen;
        StateHasChanged();
    }
}
